# Executables
regexer
tests/test_dfa
tests/test_nfa
tests/test_converter

# Object files
*.o

# Libraries
*.lib
*.a

# Debug files
*.dSYM/

# IDE specific files
.vscode/
.idea/

# Prerequisites
*.d

# Temp files
*~
.*.swp
